* {
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;

}

/* top bar section  */

header {
    width: 100%;
    height: 70px;
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    position: fixed;
    top: 0%;
    z-index: 999;

}

/* logo  */

header>.col {
    display: flex;
}


header>.col>i {
    margin-right: 20px;
    display: none;

}


header>.col>.logo>a>i {
    color: green;
    font-size: 25px;
}

header>.col>.logo>a>span {
    color: black;

}


/* search */

header>.col>form {
    display: flex;
}

header>.col>form>input {
    width: 400px;
    padding: 10px;
    border-right: none;
    outline: none;
}


header>.col>form>button {
    width: 50px;
    border-left: none;
    background-color: white;
}


/* download & fav  */

header>.col>a {
    color: black;
    margin-left: 10px;
    width: 40px;
}




header>.col>a>i {
    border: 2px solid black;
    padding: 7px;
    border-radius: 50%;
}

header>.col>button {
    width: 30px;
    border: none;
    font-size: 25px;
    color: royalblue;
    display: none;
}

/* header hover effect  */


header>.col>i:hover {
    color: royalblue;
    transition: 1s;
}


header>.col>a>i:hover {
    background: royalblue;
    color: white;
    border: white;
    transition: 1s;
}





/* mobile search bar  */
.MobileSearchBar {
    width: 100%;
    height: 70px;
    padding: 0px 20px;
    position: absolute;
    right: 0px;
    top: -80px;
    transition: 1s;
    z-index: 888;
    overflow: hidden;

}

.MobileSearchBar>form {
    margin-left: 0%;
}

.MobileSearchBar>form>input {
    width: 80%;
    height: 70px;
    padding: 0px 15px;
}


.MobileSearchBar>form>button {
    width: 10%;
    height: 70px;
    background-color: royalblue;
    color: white;
}

/* main section  */


main {
    width: 100%;
    height: 100%;
    display: flex;
}


/* aside section  */

main>aside {
    width: 90px;
    height: 1000px;
    background-color: whitesmoke;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
transition: 1s;

}


main>aside>.container>.col {
    padding: 5px;
    text-align: left;
    margin-top: 10px;
}


main>aside>.container>.col>a {
    font-size: 12px;
    color: rgb(141, 141, 141);
}


main>aside>.container:nth-child(2) {
    position: absolute;
    bottom: 1%;
}


/* main hover effects  */

main>aside>.container>.col:hover {
    border-left: 3px solid royalblue;
    background-color: white;

}

.active {
    border-left: 3px solid royalblue;
    background-color: white;
}





/* main content   */
.main {
    width: 95%;
    height: 1200px;
    display: block;
    margin-left: 90px;
transition: 1s;
}


/* hero section  */

.main>.hero {
    width: 100%;
    height: 700px;
    background-color: pink;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-slide>.content {
    width: 300px;
    position: absolute;
    left: 5%;
    text-align: left;
}

.swiper-slide>.content>h2 {
    color: white;
    font-size: 30px;
    font-weight: 600;

}

.swiper-slide>.content>P {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;

}


.swiper-slide>.content>.link {
    margin-top: 20px;
}

.swiper-slide>.content>.link>a {
    padding: 10px 40px;
    color: white;
    background-color: royalblue;
}


/* cards section  */

.cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.cards>.top_row {
    width: 100%;
    height: 80px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.cards>.top_row>h3 {
    color: rgb(138, 138, 138);
    font-size: 15px;
    font-weight: 600;
}

.cards>.top_row>a {
    color: royalblue;
}



/* container  */

.cards>.container {
    width: 100%;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.cards>.container>.col {
    width: 250px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    transition: border-color 0.3s ease;
    margin: 20px;
}

.cards>.container>.col:hover {
    border-color: #aaa;
}

.cards>.container>.col>.img {
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.cards>.container>.col>.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards>.container>.col>.content {
    padding: 10px;
}

.cards>.container>.col>.content>h4 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.cards>.container>.col>.content>h5 {
    font-size: 15px;
    color: #666;
}




/* banner section start  */

.banner {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.banner>img {
    width: 100%;
    height: 100%;
}


.banner>.content {
    width: 500px;
    position: absolute;
    left: 5%;
    text-align: left;
    top: 30%;
}

.banner>.content>h2 {
    color: white;
    font-size: 50px;
    font-weight: 600;

}

.banner>.content>P {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;

}

.banner>.content>form {
    margin-top: 20px;
}

.banner>.content>form>input {
    width: 300px;
    height: 40px;
    padding: 0px 15px;
}

.banner>.content>form>button {
    width: 60px;
    height: 40px;
    background-color: royalblue;
    color: white;
}

/* footer section  */

.footer {
    width: 100%;
    height: 200px;
    background-color: royalblue;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer>.col {
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer>.col>p {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer>.col>.link>a {
    font-size: 30px;
    color: white;
    margin: 10px;
}



@media only screen and (max-width:1000px) {


    header {

        padding: 0px 50px;


    }

}

@media only screen and (max-width:880px) {

    /* search */

    header>.col>form {
        display: none;
    }


    header>.col>button {

        display: block;
    }

    header>.col>i {

        display: block;

    }
    main>aside {

        left: -100px;


    }
    .main {
        width: 100%;
        height: 1200px;
        display: block;
        margin-left: 0px;

    }
    .banner>.content>h2 {
        color: white;
        font-size: 30px;
        font-weight: 600;
    
    }
    
}